@model HotelManagement.Models.Common.PagedResult<HotelManagement.Models.ViewModels.CustomerViewModel>

@{
    ViewData["Title"] = "Customer manage";
    Layout = "~/Views/Shared/_StaffLayout.cshtml";
}

<h1>Danh sách khách hàng</h1>



<div class="container-fluid py-4">
        <div class="d-flex justify-content-between align-items-center mb-4">

            <form method="get" class="d-flex gap-2">
                <input type="text"
                       name="search"
                       value="@ViewBag.Search"
                       class="form-control"
                       style="width:250px"
                       placeholder="Nhập email khách hàng..." />

                <button class="btn btn-primary">
                    Tìm kiếm
                </button>
            </form>

            <a class="btn btn-primary shadow-sm"
               asp-action="Create"
               asp-controller="Staff">
                <i class="fas fa-plus-circle me-1"></i>
                Thêm khách hàng
            </a>
        </div>

    <div class="card shadow border-0">
        <div class="card-body p-0">
            <div class="table-responsive">

                <table class="table table-hover align-middle mb-0">
                    <thead class="bg-light">
                        <tr>
                            <th class="ps-4">ID</th>
                            <th>Tên khách hàng</th>
                            <th>Email</th>
                            <th>Số CCCD</th>
                            <th>Số điện thoại</th>
                            <th class="text-center">Thao tác</th>
                        </tr>
                    </thead>

                    <tbody>
                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                <td class="ps-4 text-muted">#@item.CustomerId</td>
                                <td>@item.FullName</td>
                                <td>@item.Email</td>
                                <td>@item.Idcard</td>
                                <td>@item.Phone</td>
                                <td class="text-center">
                                    <a asp-controller="Staff"
                                       asp-action="CreateByStaff"
                                       asp-route-customerId="@item.CustomerId"
                                       class="btn btn-sm btn-primary">
                                        Tạo phòng
                                    </a>

                                    <a asp-action="Edit"
                                       asp-route-id="@item.CustomerId"
                                       class="btn btn-sm btn-warning text-white">
                                        Sửa
                                    </a>

                                    <a asp-action="Edit"
                                       asp-route-id="@item.CustomerId"
                                       class="btn btn-sm btn-warning text-white">
                                        Thêm dịch vụ
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

                <div class="d-flex justify-content-center mt-3">
                    <ul class="pagination">

                        @if (Model.Page > 1)
                        {
                            <li class="page-item">
                                <a class="page-link"
                                   asp-action="CustomerList"
                                   asp-route-page="@(Model.Page - 1)"
                                   asp-route-search="@ViewBag.Search">
                                    Previous
                                </a>
                            </li>
                        }

                        @for (int i = 1; i <= Model.TotalPages; i++)
                        {
                            <li class="page-item @(i == Model.Page ? "active" : "")">
                                <a class="page-link"
                                   asp-action="CustomerList"
                                   asp-route-page="@i"
                                   asp-route-search="@ViewBag.Search">
                                    @i
                                </a>
                            </li>
                        }

                        @if (Model.Page < Model.TotalPages)
                        {
                            <li class="page-item">
                                <a class="page-link"
                                   asp-action="CustomerList"
                                   asp-route-page="@(Model.Page + 1)"
                                   asp-route-search="@ViewBag.Search">
                                    Next
                                </a>
                            </li>
                        }

                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>